h1 {
  color: #4286f4;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
font-family: 'League Script', cursive;
}

ul {
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
  margin-left: 20px;
}

img {
  height: 200px;
}
